In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

In [3]:
data_path = "../data/raw/ethiopia_fi_unified_data.csv"
ref_path = "../data/raw/reference_codes.csv"

df = pd.read_csv(data_path)
ref = pd.read_csv(ref_path)

print("Unified data shape:", df.shape)
print("Reference codes shape:", ref.shape)

Unified data shape: (43, 34)
Reference codes shape: (71, 4)

In [4]:
df.head()

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,unit,observation_date,period_start,period_end,fiscal_year,gender,location,region,source_name,source_type,source_url,confidence,related_indicator,relationship_type,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,%,2014-12-31,NaN,NaN,2014,all,national,NaN,Global Findex 2014,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,%,2017-12-31,NaN,NaN,2017,all,national,NaN,Global Findex 2017,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,%,2021-12-31,NaN,NaN,2021,all,national,NaN,Global Findex 2021,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,%,2021-12-31,NaN,NaN,2021,male,national,NaN,Global Findex 2021,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,%,2021-12-31,NaN,NaN,2021,female,national,NaN,Global Findex 2021,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   record_id            43 non-null     str
 1   record_type          43 non-null     str
 2   category             10 non-null     str
 3   pillar               33 non-null     str
 4   indicator            43 non-null     str
 5   indicator_code       43 non-null     str
 6   indicator_direction  33 non-null     str
 7   value_numeric        33 non-null     float64
 8   value_text           10 non-null     str
 9   value_type           43 non-null     str
 10  unit                 33 non-null     str
 11  observation_date     43 non-null     str
 12  period_start         10 non-null     str
 13  period_end           10 non-null     str
 14  fiscal_year          43 non-null     str
 15  gender               43 non-null     str
 16  location             43 non-null     str
 17  region               0 non-null      float64
 18  source_name          43 non-null     str
 19  source_type          43 non-null     str
 20  source_url           31 non-null     str
 21  confidence           43 non-null     str
 22  related_indicator    0 non-null      float64
 23  relationship_type    0 non-null      float64
 24  impact_direction     0 non-null      float64
 25  impact_magnitude     0 non-null      float64
 26  impact_estimate      0 non-null      float64
 27  lag_months           0 non-null      float64
 28  evidence_basis       0 non-null      float64
 29  comparable_country   43 non-null     str
 30  collected_by         43 non-null     str
 31  collection_date      10 non-null     str
 32  original_text        33 non-null     str
 33  notes                0 non-null      float64
dtypes: float64(10), str(24)
memory usage: 11.6 KB

In [6]:
df["record_type"].value_counts()

record_type
observation    30
event          10
target          3
Name: count, dtype: int64

In [7]:
for rt in df["record_type"].unique():
    print(f"\n=== {rt.upper()} SAMPLE ===")
    display(df[df["record_type"] == rt].head(3))

=== OBSERVATION SAMPLE ===

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,unit,observation_date,period_start,period_end,fiscal_year,gender,location,region,source_name,source_type,source_url,confidence,related_indicator,relationship_type,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,%,2014-12-31,NaN,NaN,2014,all,national,NaN,Global Findex 2014,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,%,2017-12-31,NaN,NaN,2017,all,national,NaN,Global Findex 2017,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,%,2021-12-31,NaN,NaN,2021,all,national,NaN,Global Findex 2021,survey,https://www.worldbank.org/en/publication/globa...,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN

=== TARGET SAMPLE ===

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,unit,observation_date,period_start,period_end,fiscal_year,gender,location,region,source_name,source_type,source_url,confidence,related_indicator,relationship_type,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
30,REC_0031,target,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,70.0,NaN,percentage,%,2025-12-31,NaN,NaN,2025,all,national,NaN,NFIS-II Strategy,policy,https://nbe.gov.et/,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NFIS-II target,NaN
31,REC_0032,target,NaN,ACCESS,Fayda Digital ID Enrollment,ACC_FAYDA,higher_better,90000000.0,NaN,count,people,2028-12-31,NaN,NaN,2028,all,national,NaN,Fayda/NIDP,policy,https://www.id.gov.et/,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,90M by 2028 target,NaN
32,REC_0033,target,NaN,GENDER,Female Mobile Money Account Share,GEN_MM_SHARE,higher_better,50.0,NaN,percentage,%,2030-12-31,NaN,NaN,2030,female,national,NaN,NBE,policy,NaN,medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Parity target,NaN

=== EVENT SAMPLE ===

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,unit,observation_date,period_start,period_end,fiscal_year,gender,location,region,source_name,source_type,source_url,confidence,related_indicator,relationship_type,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
33,EVT_0001,event,product_launch,NaN,Telebirr Launch,EVT_TELEBIRR,NaN,NaN,Launched,categorical,NaN,2021-05-17,NaN,NaN,2021,all,national,NaN,Ethio Telecom,operator,https://www.ethiotelecom.et/,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,First major mobile money service in Ethiopia,NaN
34,EVT_0002,event,market_entry,NaN,Safaricom Ethiopia Commercial Launch,EVT_SAFARICOM,NaN,NaN,Launched,categorical,NaN,2022-08-01,NaN,NaN,2022,all,national,NaN,News,news,NaN,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,End of state telecom monopoly,NaN
35,EVT_0003,event,product_launch,NaN,M-Pesa Ethiopia Launch,EVT_MPESA,NaN,NaN,Launched,categorical,NaN,2023-08-01,NaN,NaN,2023,all,national,NaN,Safaricom,operator,NaN,high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Second mobile money entrant,NaN

In [8]:
ref.head()

         field         code                                        description applies_to
0  record_type  observation                Actual measured value from a source        All
1  record_type        event            Policy launch market event or milestone        All
2  record_type  impact_link  Relationship between event and indicator (link...        All
3  record_type       target                     Policy target or official goal        All
4  record_type     baseline                      Starting point for comparison        All

In [10]:
ref["field"].value_counts()

field
value_type             11
category               10
source_type             8
pillar                  7
record_type             6
confidence              4
relationship_type       4
impact_direction        4
impact_magnitude        4
evidence_basis          4
indicator_direction     3
gender                  3
location                3
Name: count, dtype: int64

## Unified Schema Overview

This dataset uses a unified schema where all records share the same columns.
The `record_type` field determines how each row should be interpreted:

- observation: actual measured values (survey, operator, infrastructure)
- event: policies, product launches, market entries, milestones
- impact_link: modeled relationships between events and indicators
- target: official policy targets

Events are intentionally not assigned to Access or Usage pillars.
Their effects are modeled explicitly via impact_link records.

In [11]:
df.groupby("record_type").size()

record_type
event          10
observation    30
target          3
dtype: int64

In [12]:
df[df["record_type"] == "observation"]["indicator_code"].value_counts()

indicator_code
ACC_OWNERSHIP         6
ACC_FAYDA             3
ACC_MM_ACCOUNT        2
ACC_4G_COV            2
USG_P2P_COUNT         2
GEN_GAP_ACC           2
ACC_MOBILE_PEN        1
USG_P2P_VALUE         1
USG_ATM_COUNT         1
USG_ATM_VALUE         1
USG_CROSSOVER         1
USG_TELEBIRR_USERS    1
USG_TELEBIRR_VALUE    1
USG_MPESA_USERS       1
USG_MPESA_ACTIVE      1
USG_ACTIVE_RATE       1
AFF_DATA_INCOME       1
GEN_MM_SHARE          1
GEN_GAP_MOBILE        1
Name: count, dtype: int64

In [13]:
df[df["record_type"] == "observation"]["observation_date"].agg(["min", "max"])

min    2014-12-31
max    2025-12-31
Name: observation_date, dtype: str

In [16]:
df[df["record_type"] == "event"][
    [
        "record_id",
        "category",
        "period_start",
        "period_end",
        "notes",
        "original_text",
        "source_name",
        "confidence"
    ]
]

,record_id,category,period_start,period_end,notes,original_text,source_name,confidence
33,EVT_0001,product_launch,NaN,NaN,NaN,First major mobile money service in Ethiopia,Ethio Telecom,high
34,EVT_0002,market_entry,NaN,NaN,NaN,End of state telecom monopoly,News,high
35,EVT_0003,product_launch,NaN,NaN,NaN,Second mobile money entrant,Safaricom,high
36,EVT_0004,infrastructure,NaN,NaN,NaN,National biometric digital ID system,NIDP,high
37,EVT_0005,policy,NaN,NaN,NaN,Birr float introduced,NBE,high
38,EVT_0006,milestone,NaN,NaN,NaN,Historic: digital > cash for first time,EthSwitch,high
39,EVT_0007,partnership,NaN,NaN,NaN,Full interoperability for M-Pesa,EthSwitch,high
40,EVT_0008,infrastructure,NaN,NaN,NaN,National real-time payment system,NBE/EthSwitch,high
41,EVT_0009,policy,2021-09-01,2025-06-30,NaN,5-year national financial inclusion strategy,NBE,high
42,EVT_0010,pricing,NaN,NaN,NaN,Data and voice prices increased 20-82%,News,high

In [15]:
df.columns.tolist()

['record_id',
 'record_type',
 'category',
 'pillar',
 'indicator',
 'indicator_code',
 'indicator_direction',
 'value_numeric',
 'value_text',
 'value_type',
 'unit',
 'observation_date',
 'period_start',
 'period_end',
 'fiscal_year',
 'gender',
 'location',
 'region',
 'source_name',
 'source_type',
 'source_url',
 'confidence',
 'related_indicator',
 'relationship_type',
 'impact_direction',
 'impact_magnitude',
 'impact_estimate',
 'lag_months',
 'evidence_basis',
 'comparable_country',
 'collected_by',
 'collection_date',
 'original_text',
 'notes']